@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background-color: #e5e5e5;
  width: 375px;
}

.main {
  background-color: white;
  position: relative;
  display: grid;
  top: 0;
  width: 360px;
  background-image: url(./images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-position: top;
  border-bottom-left-radius: 70px;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #6070ff;
}

.header {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 100px;
  color: #172b4d;
}

.section {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin-right: 20px;
  margin-left: 20px;
}

.section2 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin-right: 20px;
  margin-left: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 280px;
  background-color: white;
}

.img {
  text-align: start;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 20px;
}

.imgs {
  display: flex;
  list-style: none;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.imgs li {
  margin-right: 20px;
  list-style: none;
  padding-left: 0;
}

.footer {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  color: blue;
  margin: 20px;
}

.img-container {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portolio_img {
  border-radius: 8px;
  margin: 0;
}

.work-description {
  margin-left: 15px;
}

.tittle {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  margin: 30px 0 20px 0;
  color: #172b4d;
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 10px;
  color: #344563;
}

.words {
  color: #7a869a;
  margin-left: 10px;
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin-left: 11px;
  color: #344563;
}

button {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #6070ff;
  border-radius: 5px;
  padding: 3px;
  border: 0;
  margin-right: 10px;
  margin-left: 10px;
}

.btn-proj {
  border: 1px solid #396df2;
  background-color: white;
  padding: 10px;
}

.ellipse {
  display: flex;
  flex-direction: column;
}

.ellipse button {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
}

.ellipse button span {
  margin-left: 7px;
  font-size: 16px;
  color: #000;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container3 {
  background-color: white;
  height: 530px;
  padding-top: 30px;
  margin: 10px;
  border-radius: 10px;
}

.about {
  position: relative;
  background-color: white;
  width: 340px;
  height: 1226px;
  margin: 0;
  border-top-right-radius: 70px;
  padding-right: 0;
}

.parag {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-weight: bold;
  margin-left: 10px;
}

hr {
  color: #dfe1e6;
  width: 95%;
}

.lang {
  font-family: 'Poppins', sans-serif;
  margin: 20px;
  font-size: 16px;
  height: 24px;
  color: #000;
}

.contact--form {
  position: relative;
  width: 340px;
  height: 515px;
  background-color: #6070ff;
  background-image: url(./images/contact_form.png);
  margin: 0;
  border-top-left-radius: 70px;
  padding-right: 0;
  padding-top: 60px;
  margin-top: 80px;
  background-repeat: no-repeat;
  background-position: top;
  top: 0;
}

.last--para {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.name {
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  width: 250px;
}

.email {
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  width: 250px;
}

.msg {
  height: 90px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  width: 250px;
}

.btn {
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  width: 250px;
}

.hrz {
  border: 2px solid black;
  width: 100px;
}
